$red: #f05;
$blue: #05f;

$name-height: 5rem;
$middle-width: 5rem;
$middle-gap: .25rem;
$corner-radius: 3rem;

$name-font-size: 2rem;
$timer-font-size: 4rem;
$score-font-size: 8rem;
$warning-font-size: 3rem;
$history-font-size: 1.5rem;

$control-gap: 1rem;

@font-face {
	font-family: 'Montserrat';
	font-weight: 800;
	font-style: normal;
	src: local('Montserrat ExtraBold'), url('Montserrat-ExtraBold.otf') format('opentype');
}

body {
	margin: 0;
	background: #000;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;

	height: 100vh;
	display: flex;
	flex-direction: column;
}

input, button {
	font: inherit;
	margin: 0;
	padding: 0;
	border: none;
	min-width: 0;
	outline: 0;
}

::selection {
	background-color: #fff;
	color: #000;
}

@mixin centered-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.scoreboard {
	background-color: #000;
	flex-grow: 1;
	white-space: nowrap;

	display: grid;
	// these parentheses are needed to signal the sass compiler that we don't want division
	grid-template: ($name-height 1fr $name-height 3.5rem) / (1fr $middle-width 1fr);

	.name-label {
		@include centered-content;

		color: #000;
		font-size: $name-font-size;
		grid-column: span 2;
		border-radius: 0 $corner-radius;

		&.red {
			background-color: $red;
		}
		&.blue {
			background-color: $blue;
		}

		&:focus {
			box-shadow: 0 0 0 .2rem #fff inset;
		}

	}

	&.editable .name-label {
		background-image: url('edit.svg');
		background-repeat: no-repeat;
		background-size: 1.5rem;
		background-position: center right 2rem;
	}

	.warning-label {
		@include centered-content;
		font-size: $warning-font-size;

		&.red {
			color: $red;
		}

		&.blue {
			color: $blue;
		}

	}

	.score-label {
		@include centered-content;

		font-size: $score-font-size;
		font-variant: tabular-nums;
		//grid-row: 2;

		&.red {
			color: $red;
		}

		&.blue {
			color: $blue;
		}

	}

	.middle {
		@include centered-content;
		color: #fff;
		font-size: $timer-font-size;

		background: linear-gradient($red, $blue);
		margin: $middle-gap 0;
		//grid-row: 2;
		z-index: 4;
	}

	.timer {
		font-variant: tabular-nums;
	}


	.history {
		grid-column: span 3;
		margin-top: 1rem;
		font-size: $history-font-size;
		display: flex;
		gap: .5rem;
		overflow: auto;

		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}

		.entry {
			background-color: #fff;
			padding: .2em .5em;
			border-radius: .5rem;

			&.red {
				background-color: $red;
				color: #fff;
			}
			&.blue {
				background-color: $blue;
				color: #fff;
			}
		}

	}


	.fancy-animation {
		font-variant: tabular-nums;

		.inner {
			overflow: hidden;

			.letter-old, .letter-new {
				display: inline-block;
				transition: transform .2s;
			}
			.letter-old {
				width: 0;
			}
			.letter-new {
				transform: translateY(100%);
			}

		}

	}

}


@mixin button($color) {
	margin: 0;
	padding: .5em 1em;
	border: .2rem solid $color;
	color: $color;
	background: none;
	border-radius: .5rem;

	&:hover, &:focus {
		background-color: $color;
		color: #000;
	}
}

.controls {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	gap: $control-gap;

	flex-shrink: 0;

	button {
		@include button(#fff);

		&.red {
			@include button($red);
		}

		&.blue {
			@include button($blue);
		}

		font: inherit;
		flex: 1 0 0;

		&.small {
			flex-grow: 0;
			min-width: 4rem;
		}
	}

	.row {
		display: flex;
		gap: $control-gap;
	}

}
